%aside.nav-sidebar{ class: ('sidebar-collapsed-desktop' if collapsed_sidebar?), **sidebar_tracking_attributes_by_object(sidebar.container), 'aria-label': sidebar.aria_label }
  .nav-sidebar-inner-scroll
    - if sidebar.render_raw_scope_menu_partial
      = render sidebar.render_raw_scope_menu_partial

    %ul.sidebar-top-level-items.qa-project-sidebar
      - if sidebar.render_raw_menus_partial
        = render sidebar.render_raw_menus_partial

    = render 'shared/sidebar_toggle_button'
